body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    background-color: #37153f;
    padding: 10px;
    color: rgb(251, 159, 109);
}

.form-contact label {
    display: inline-block;
    min-width: 80px;
}

.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
    font-size: 16px;
}







