<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Parent Template</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/template.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">First Web App</h1>
            <strong><nav>
                    <ul class="menu">
                        <!-- Here we are using the url_for() function
                            with the name of a template -->
                        <!-- The strings in the curly braces will be replaced with
                            the content of the templates -->
                        <li><a href="{{ url_for('home')}}">Home</a></li>
                        <li><a href="{{ url_for('about')}}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
            </nav></strong>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>
